%container{
    max-width: 900px;
    width: 100%;
    padding: 40px;
}

.title-1{
    font-size: 42px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 24px;
}

.subtitle{
    background: #f0f8ff;
    color: #000;
    @extend %container;
}

.header-menu{
    background: #496883;
    color: #fff;
    margin: 20px 0;
    @extend %container;
    padding: 20px 40px;

    & > * + *{
        margin-left: 30px;
    }
}

.main {
    background: #dcebf0;
    @extend %container;
}

.footer{
    @extend %container;
    background: #1d3f5e;
    color: #fff;
}